- filtering_params = params[:filter] || {}

.row
  .col-lg-offset-1.col-lg-10
    .panel.panel-default
      .panel-body

        %form{:role => 'form'}
          .row
            .form-group.col-sm-2
              %label{:for => 'type'}= t('activerecord.attributes.shop.type')
              %select#type.form-control.input-sm{:type => 'text', :name => 'filter[type]'}
                %option{:value => ''}= t('views.common.all')
                - ShopType.all.each do |type|
                  %option{:value => type.id, :selected => filtering_params[:type].to_i == type.id}= type.name

            .form-group.col-sm-2
              %label{:for => 'city'}= t('activerecord.attributes.shop.city')
              %select#city.form-control.input-sm{:type => 'text', :name => 'filter[city]'}
                %option{:value => ''}= t('views.common.all')
                - City.all.each do |city|
                  %option{:value => city.id, :selected => filtering_params[:city].to_i == city.id}= city.name

            .form-group.col-sm-2
              %label{:for => 'address'}= t('activerecord.attributes.shop.address')
              %input#address.form-control.input-sm{:type => 'text', :name => 'filter[address]', :value => filtering_params[:address], :autocomplete => :off}

            - if policy(Shop).filter_dealer?
              .form-group.col-sm-2
                %label{:for => 'dealer'}= t('activerecord.attributes.shop.dealer')
                %select#dealer.form-control.input-sm{:type => 'text', :name => 'filter[dealer]'}
                  %option{:value => ''}= t('views.common.all')
                  - Dealer.all.each do |dealer|
                    %option{:value => dealer.id, :selected => filtering_params[:dealer].to_i == dealer.id}= dealer.name

            - if policy(Shop).filter_reviewer?
              .form-group.col-sm-2
                %label{:for => 'user'}= t('activerecord.attributes.shop.user')
                %select#user.form-control.input-sm{:type => 'text', :name => 'filter[user]'}
                  %option{:value => ''}= t('views.common.all')
                  - UserRole.reviewer.users.all.each do |user|
                    %option{:value => user.id, :selected => filtering_params[:user].to_i == user.id}= user.full_name

            .form-group.col-sm-2
              %label &nbsp;
              .checkbox{:style => 'margin: 0px;'}
                %label
                  %input{:type => 'checkbox', :name => 'filter[is_deleted]', :checked => (not filtering_params[:is_deleted].blank?)}
                    %strong= t('activerecord.attributes.user.is_deleted')
          .row
            .col-sm-offset-5.col-sm-2
              %input.btn-block.btn.btn-default.btn-sm{:type => 'submit', :value => t('views.common.filter')}