%table#general-info.table.table-condensed.table-striped
  %tbody
    %tr
      %td= t('activerecord.attributes.shop.region')
      %td= link_to @shop.region.name, @shop.region
    %tr
      %td= t('activerecord.attributes.shop.city')
      %td= link_to @shop.city.name, @shop.city
    %tr
      %td= t('activerecord.attributes.shop.address')
      %td= link_to @shop.address, @shop
    %tr
      %td= t('activerecord.attributes.shop.type')
      %td= @shop.type.name
    %tr
      %td= t('activerecord.attributes.shop.square_footage')
      %td= @shop.square_footage || '-'
    %tr
      %td= t('activerecord.attributes.shop.dealer')
      %td= link_to @shop.dealer.name, @shop.dealer
    %tr
      %td= t('activerecord.attributes.shop.user')
      %td= link_to @shop.user.full_name, @shop.user
    %tr
      %td= t('activerecord.attributes.shop.score')
      %td= @shop.score ? link_to(@shop.score, @shop.last_report) : '-'
