.table-responsive{:style => ("max-height:#{max_height}px;" if defined?(max_height))}
  %table.table.table-condensed.table-striped.table-vcentered
    %thead
      %tr
        - if params[:controller] == 'shops'
          %th= sortable(:type, t('activerecord.attributes.shop.type'))
          %th= sortable(:address, t('activerecord.attributes.shop.address'))
          %th= sortable(:dealer, t('activerecord.attributes.shop.dealer'))
          %th= sortable(:user, t('activerecord.attributes.shop.user'))
          %th= sortable(:score, t('activerecord.attributes.shop.score'))

        - else
          %th= t('activerecord.attributes.shop.type')
          %th= t('activerecord.attributes.shop.address')
          - unless params[:controller] == 'dealers'
            %th= t('activerecord.attributes.shop.dealer')
          - unless params[:controller] == 'users'
            %th= t('activerecord.attributes.shop.user')
          %th= t('activerecord.attributes.shop.score')
        %th.text-right
          - if can?(:create, Shop)
            %a.btn.btn-default.btn-xs{:href => new_shop_path, :title => t('views.common.add'), :data => {:toggle => 'tooltip'}}
              %span.glyphicon.glyphicon-plus

    %tbody
      - if shops.any?
        - shops.each do |shop|
          %tr
            %td= shop.type.name
            - if not shop.is_deleted and can?(:read, shop)
              %td= link_to(shop.name, shop)
            - else
              %td= shop.name
            - unless params[:controller] == 'dealers'
              - if shop.dealer
                - if can?(:read, shop.dealer)
                  %td= link_to(shop.dealer.name, shop.dealer)
                - else
                  %td= shop.dealer.name
              - else
                %td -
            - unless params[:controller] == 'users'
              - if shop.user
                - if can?(:read, shop.user)
                  %td= link_to(shop.user.full_name, shop.user)
                - else
                  %td= shop.user.full_name
              - else
                %td -
            %td= shop.score ? link_to(shop.score, shop.last_report) : '-'
            %td.text-right
              - if can?(:restore, shop)
                %a.btn.btn-default.btn-xs{:href => restore_shop_path(shop), :title => t('views.common.restore'), :data => {:toggle => 'tooltip'}}
                  %span.glyphicon.glyphicon-ok
              - if can?(:update, shop)
                %a.btn.btn-default.btn-xs{:href => edit_shop_path(shop), :title => t('views.common.edit'), :data => {:toggle => 'tooltip'}}
                  %span.glyphicon.glyphicon-edit
              - if can?(:destroy, shop)
                %a.btn.btn-default.btn-xs{:href => shop_path(shop), :title => t('views.common.delete'), :data => {:toggle => 'tooltip', :method => 'delete', :confirm => t('views.common.confirm')}}
                  %span.glyphicon.glyphicon-remove

      - else
        %tr
          %td{:colspan => 6}
            %h4.text-center= t('views.common.empty')