= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp"
= javascript_include_tag "maps/shop_show"

= stylesheet_link_tag "shops"

.well.well-sm
  .row
    .col-sm-4
      #map_canvas.map-container{:data => {:lat => @shop.latitude, :lng => @shop.longitude}}

    .col-sm-4
      = render 'info'
      
    .col-sm-4
      = render 'shop_photos/slideshow', :shop => @shop

%h3.text-center= t('views.reports.list')
%br
.row
  .col-sm-12 
    .panel.panel-default
      = render 'reports/list'

    = paginate @reports