= simple_form_for @user, :html => {:class => 'form-horizontal', :role => 'form'} do |f|

  = f.input :name
  = f.input :surname
  = f.input :email
  = f.input :password, :input_html => {:value => ""}
  = f.input :password_confirmation
  = f.association :role, :prompt => false, :disabled => cannot?(:manage, UserRole)
  = f.input :subscription, :as => :boolean, :wrapper => :horizontal_boolean

  .btn-toolbar.text-center
    = f.button :submit, t('views.common.save'), :class => 'btn-sm'
    %a.btn.btn-sm.btn-default{:href => users_path}= t('views.common.cancel')