%h3.text-center= t('views.reports.list')

.row
  .col-lg-offset-1.col-lg-10
    .panel.panel-default
      .table-responsive
        %table.table
          %thead
            %tr
              %th= t('activerecord.attributes.shop.address')
              %th= t('activerecord.attributes.report.created_at')
              %th= t('activerecord.attributes.report.score')
              %th

          %tbody
            - if @reports.any?
              - @reports.each do |report|
                %tr
                  %td= report.shop.full_address
                  %td= report.created_at.strftime("%d.%m.%Y %H:%M")
                  %td= report.score
                  %td.text-right
                    - if can?(:read, report)
                      %a.btn.btn-xs.btn-primary{:href => report_path(report)}= t('views.common.show')

            - else
              %tr
                %td{:colspan => 4}
                  %h4.text-center= t('views.common.empty')

    = paginate @reports