%h2.text-center= t('views.users.list')
%br

=render 'filter'

.row
  .col-lg-offset-1.col-lg-10
    .panel.panel-default
      .table-responsive
        %table.table.table-condensed.table-striped.table-vcentered
          %thead
            %tr
              %th= sortable(:name, t('activerecord.attributes.user.name'))
              %th= sortable(:surname, t('activerecord.attributes.user.surname'))
              %th= sortable(:email, t('activerecord.attributes.user.email'))
              %th= sortable(:role, t('activerecord.attributes.user.role'))
              %th.text-center= sortable(:subscription, t('activerecord.attributes.user.subscription'))
              %th.text-right
                - if can?(:create, User)
                  %a.btn.btn-primary.btn-xs{:href => new_user_path}= t('views.common.add')

          %tbody
            - if @users.any?
              - @users.each do |user|
                %tr
                  %td= user.name
                  %td= user.surname
                  %td= user.email
                  %td= user.role.name
                  %td.text-center
                    -if user.subscription
                      %span.glyphicon.glyphicon-ok.text-success
                    -else
                      %span.glyphicon.glyphicon-minus.text-danger
                  %td.text-right
                    .btn-toolbar
                      - if can?(:restore, user)
                        = link_to t('views.common.restore'), restore_user_path(user), :class => 'btn btn-primary btn-xs'
                      - if can?(:update, user)
                        = link_to t('views.common.edit'), edit_user_path(user), :class => 'btn btn-primary btn-xs'
                      - if can?(:destroy, user)
                        = link_to t('views.common.delete'), user, :method => :delete, :class => 'btn btn-danger btn-xs', :data => { :confirm => t('views.common.confirm') }
            -else
              %tr
                %td{:colspan => 6}
                  %h4.text-center= t('views.common.empty')