%h2.text-center= t('views.users.list')
%br

=render 'filter'

.row
  .col-lg-offset-1.col-lg-10
    .panel.panel-default
      .table-responsive
        %table.table.table-condensed.table-striped.table-vcentered
          %thead
            %tr
              %th= t('activerecord.attributes.user.name')
              %th= t('activerecord.attributes.user.surname')
              %th= t('activerecord.attributes.user.email')
              %th= t('activerecord.attributes.user.role')
              %th.text-center= t('activerecord.attributes.user.subscription')
              %th.text-right
                - if can?(:create, User)
                  %a.btn.btn-primary.btn-xs{:href => new_user_path}= t('views.common.add')

          %tbody
            - @users.each do |user|
              %tr
                %td= user.name
                %td= user.surname
                %td= user.email
                %td= user.role.name
                %td.text-center
                  -if user.subscription
                    %span.glyphicon.glyphicon-ok.text-success
                  -else
                    %span.glyphicon.glyphicon-minus.text-danger
                %td.text-right
                  .btn-toolbar
                    - if can?(:update, user)
                      = link_to t('views.common.edit'), edit_user_path(user), :class => 'btn btn-primary btn-xs'
                    - if can?(:delete, user)
                      = link_to t('views.common.delete'), user, :method => :delete, :class => 'btn btn-danger btn-xs', :data => { :confirm => t('views.common.confirm') }