%h2.text-center= t('views.users.list')
%br

= render 'filter'

.row
  .col-lg-offset-1.col-lg-10
    .panel.panel-default
      .table-responsive
        %table.table.table-condensed.table-striped.table-vcentered
          %thead
            %tr
              %th= sortable(:name, t('activerecord.attributes.user.name'))
              %th= sortable(:email, t('activerecord.attributes.user.email'))
              %th= sortable(:role, t('activerecord.attributes.user.role'))
              %th.text-center= sortable(:subscription, t('activerecord.attributes.user.subscription'))
              %th.text-right
                - if policy(User).create?
                  %a.btn.btn-default.btn-xs{:href => new_user_path, :title => t('views.common.add'), :data => {:toggle => "tooltip"}}
                    %span.glyphicon.glyphicon-plus

          %tbody
            - if @users.any?
              - @users.each do |user|
                %tr
                  %td= can_link_to user.full_name, user
                  %td= user.email
                  %td= user.role.name
                  %td.text-center
                    -if user.subscription
                      %span.glyphicon.glyphicon-ok.text-success
                    -else
                      %span.glyphicon.glyphicon-minus.text-danger
                  %td.text-right
                    - if policy(user).restore?
                      %a.btn.btn-default.btn-xs{:href => restore_user_path(user), :title => t('views.common.restore'), :data => {:toggle => "tooltip"}}
                        %span.glyphicon.glyphicon-ok
                    - if policy(user).update?
                      %a.btn.btn-default.btn-xs{:href => edit_user_path(user), :title => t('views.common.edit'), :data => {:toggle => "tooltip"}}
                        %span.glyphicon.glyphicon-edit
                    - if policy(user).destroy?
                      %a.btn.btn-default.btn-xs{:href => user_path(user), :title => t('views.common.delete'), :data => {:toggle => "tooltip", :method => 'delete', :confirm => t('views.common.confirm')}}
                        %span.glyphicon.glyphicon-remove
            -else
              %tr
                %td{:colspan => 5}
                  %h4.text-center= t('views.common.empty')

    = paginate @users