=javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp"
=javascript_include_tag "maps/dealer_show"

%h2.text-center= @user.full_name
%br

.row
  .col-sm-6
    .panel.panel-default
      .panel-body
        %div#map_canvas.map-container-lg

  .col-sm-6
    .panel.panel-default
      .table-responsive
        %table.table.table-condensed.table-striped.table-vcentered
          %thead
            %tr
              %th= t('activerecord.attributes.shop.type')
              %th= t('activerecord.attributes.shop.address')
              %th= t('activerecord.attributes.shop.dealer')
              %th= t('activerecord.attributes.shop.score')
              %th.text-right
                - if can?(:create, Shop)
                  = link_to t('views.common.add'), new_shop_path, :class =>'btn btn-xs btn-primary'

          %tbody
            - if @user.shops.any?
              - @user.shops.each do |shop|
                %tr.shop{:data => {:info => info_shop_path(shop), :latitude => shop.latitude, :longitude => shop.longitude}}
                  %td= shop.type.name
                  %td= link_to shop.full_address, shop
                  %td= link_to shop.dealer.name, shop.dealer
                  %td= shop.score ? link_to(shop.score, shop.last_report) : "-"
                  %td.text-right
                    .btn-toolbar
                      - if can?(:update, shop)
                        = link_to t('views.common.edit'), edit_shop_path(shop), :class => 'btn btn-xs btn-primary'
                      - if can?(:destroy, shop)
                        = link_to t('views.common.delete'), shop, :method => :delete, :class => 'btn btn-danger btn-xs', :data => { :confirm => t('views.common.confirm') }
            - else
              %tr
                %td{:colspan => 5}
                  %h4.text-center= t('views.common.empty')

%h3.text-center= t('views.reports.list')
%br
.row
  .col-sm-12
    .panel.panel-default
      =render 'reports/list'

    = paginate @reports
