.panel.panel-default
  .table-responsive
    %table.table.table-condensed.table-striped.table-vcentered
      %thead
        %tr
          %th= t('activerecord.attributes.employee.name')
          %th= t('activerecord.attributes.employee.phone')
          %th= t('activerecord.attributes.employee.email')
          %th= t('activerecord.attributes.employee.employee_workposition')
          %th.text-right
            - if policy(Employee.new(:shop => shop)).create?
              %a.btn.btn-default.btn-xs{:title => t('views.common.add'), :data => {:toggle => 'tooltip',
              :modal => 'true', :source => new_shop_employee_path(shop)}}
                %span.glyphicon.glyphicon-plus
      %tbody
        -if employees.any?
          - employees.each do |employee|
            %tr
              %td= employee.name
              %td= employee.phone
              %td= employee.email
              %td= employee.employee_workposition.name
              %td.text-right
                - if policy(employee).update?
                  %a.btn.btn-default.btn-xs{ :title => t('views.common.edit'), :data => {:toggle => 'tooltip',
                  :modal => 'true', :source => edit_shop_employee_path(shop, employee)}}
                    %span.glyphicon.glyphicon-edit
                - if policy(employee).destroy?
                  %a.btn.btn-default.btn-xs{:title => t('views.common.delete'), :data => {:toggle => 'tooltip',
                  :modal => 'true', :source => shop_employee_path(shop, employee), :type => 'delete',
                  :confirm => t('views.common.confirm')}}
                    %span.glyphicon.glyphicon-remove
        -else
          %tr
            %td{:colspan => 6}
              %h4.text-center= t('views.common.empty')

    