%h2.text-center= t('views.dealers.list')
%br

= render 'filter'

.row
  .col-lg-offset-1.col-lg-10
    .panel.panel-default
      .table-responsive
        %table.table.table-condensed.table-striped.table-vcentered
          %thead
            %tr
              %th= sortable(:name, t('activerecord.attributes.dealer.name'))
              %th= sortable(:contact_name, t('activerecord.attributes.dealer.contact_name'))
              %th= t('activerecord.attributes.dealer.phone_number')
              %th= t('activerecord.attributes.dealer.email')
              %th= sortable(:score, t('activerecord.attributes.report.score'))
              %th.text-right
                - if can?(:create, Dealer)
                  %a.btn.btn-default.btn-xs{:href => new_dealer_path, :title => t('views.common.add'), :data => {:toggle => "tooltip"}}
                    %span.glyphicon.glyphicon-plus

          %tbody
            - if @dealers.any?
              - @dealers.each do |dealer|
                %tr
                  %td= link_to dealer.name, dealer_path(dealer.id)
                  %td= dealer.contact_name
                  %td= dealer.phone_number
                  %td= dealer.email
                  %td= dealer.score
                  %td.text-right
                    - if can?(:restore, dealer)
                      %a.btn.btn-default.btn-xs{:href => restore_dealer_path(dealer), :title => t('views.common.restore'), :data => {:toggle => "tooltip"}}
                        %span.glyphicon.glyphicon-ok
                    - if can?(:update, dealer)
                      %a.btn.btn-default.btn-xs{:href => edit_dealer_path(dealer), :title => t('views.common.edit'), :data => {:toggle => "tooltip"}}
                        %span.glyphicon.glyphicon-edit
                    - if can?(:destroy, dealer)
                      %a.btn.btn-default.btn-xs{:href => dealer_path(dealer), :title => t('views.common.delete'), :data => {:toggle => "tooltip", :method => 'delete', :confirm => t('views.dealers.confirm')}}
                        %span.glyphicon.glyphicon-remove

            - else 
              %tr
                %td{:colspan => 6}
                  %h4.text-center= t('views.common.empty')

    = paginate @dealers