= simple_form_for @city, :url => (action if defined?(action)), :html => {:class => 'form-horizontal', :role => 'form'} do |f|

  = f.input :name
  = f.association :region, :prompt => false

  .btn-toolbar.text-center
    = f.button :submit, t('views.common.save')
    %a.btn.btn-default{:href => session[:return_to] || users_path}= t('views.common.cancel')