%h2.text-center= t('views.regions.list')
%br

= render 'filter'

.row
  .col-lg-offset-1.col-lg-10
    .panel.panel-default
      .table-responsive
        %table.table.table-condensed.table-striped.table-vcentered
          %thead
            %tr
              %th= sortable(:name, t('activerecord.attributes.region.name'))
              %th.text-right
                - if can?(:create, Region)
                  %a.btn.btn-default.btn-xs{:href => new_region_path, :title => t('views.common.add'), :data => {:toggle => "tooltip"}}
                    %span.glyphicon.glyphicon-plus

          %tbody
            - if @regions.any?
              - @regions.each do |region|
                %tr
                  %td= link_to region.name, region
                  %td.text-right
                    - if can?(:restore, region)
                      %a.btn.btn-default.btn-xs{:href => restore_region_path(region), :title => t('views.common.restore'), :data => {:toggle => "tooltip"}}
                        %span.glyphicon.glyphicon-ok
                    - if can?(:destroy, region)
                      %a.btn.btn-default.btn-xs{:href => region_path(region), :title => t('views.common.delete'), :data => {:toggle => "tooltip", :method => 'delete', :confirm => t('views.common.confirm')}}
                        %span.glyphicon.glyphicon-remove
                    - if can?(:update, region)
                      %a.btn.btn-default.btn-xs{:href => edit_region_path(region), :title => t('views.common.edit'), :data => {:toggle => "tooltip"}}
                        %span.glyphicon.glyphicon-edit
                        
            -else
              %tr
                %td{:colspan => 2}
                  %h4.text-center= t('views.common.empty')

    = paginate @regions