%h2.text-center= t('views.regions.list')
%br

= render 'filter'

.row
  .col-lg-offset-1.col-lg-10
    .panel.panel-default
      .table-responsive
        %table.table.table-condensed.table-striped.table-vcentered
          %thead
            %tr
              %th= sortable(:name, t('activerecord.attributes.region.name'))
              %th.text-right
                - if can?(:create, Region)
                  = link_to t('views.common.add'), new_region_path, :class =>'btn btn-xs btn-primary'

          %tbody
            - if @regions.any?
              - @regions.each do |region|
                %tr
                  %td= link_to region.name, region
                  %td.text-right
                    .btn-toolbar
                      - if can?(:restore, region)
                        = link_to t('views.common.restore'), restore_region_path(region), :class => 'btn btn-primary btn-xs'
                      - if can?(:update, region)
                        = link_to t('views.common.edit'), edit_region_path(region), :class => 'btn btn-xs btn-primary'
                      - if can?(:destroy, region)
                        = link_to t('views.common.delete'), region, :method => :delete, :class => 'btn btn-danger btn-xs', :data => { :confirm => t('views.common.confirm') }
            -else
              %tr
                %td{:colspan => 2}
                  %h4.text-center= t('views.common.empty')

    = paginate @regions