= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp'
= javascript_include_tag 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js'
= javascript_include_tag 'maps/shops'

%h2.text-center= @region.name
%br

.panel.panel-default
  .panel-body
    .row
      .col-md-6
        %div#map_canvas.map-container-lg{:data => {:mapinfo => shop_map_info_path({:filter => {:region => @region}})}}
      .col-md-6
        .panel.panel-default
          = render 'shops/list', :shops => policy_scope(@region.shops), :max_height => 450