= javascript_include_tag "range_picker"

- filtering_params = params[:filter] || {}

.row
  .col-lg-offset-1.col-lg-10
    .panel.panel-default
      .panel-body

        %form{:role => 'form'}
          .row
            - unless current_user.reviewer?
              .form-group.col-sm-2
                %label{:for => 'user'}= t('activerecord.attributes.report.user')
                %select#user.form-control.input-sm{:name => 'filter[user]'}
                  %option{:value => ''}= t('views.common.all')
                  - UserRole.reviewer.users.each do |u|
                    %option{:value => u.id, :selected => filtering_params[:user].to_i == u.id}= u.full_name

            - shops = (current_user.dealer?) ? current_user.dealer.shops : Shop.all
            .form-group.col-sm-3
              %label{:for => 'shop'}= t('activerecord.attributes.report.shop')
              %select#shop.form-control.input-sm{:name => 'filter[shop]'}
                %option{:value => ''}= t('views.common.all')
                - shops.each do |s|
                  %option{:value => s.id, :selected => filtering_params[:shop].to_i == s.id}= s.name

            .form-group.col-sm-4
              %label{:for => 'period'}= t('views.reports.period')
              #period.input-group.input-group-sm{:data => {:rangepicker => 'yes'}}
                %input#date_from.form-control{:type => 'text', :name => 'filter[date_from]', :value => filtering_params[:date_from], :data => {:border => 'from'}}
                %span.input-group-addon -
                %input#date_to.form-control{:type => 'text', :name => 'filter[date_to]', :value => filtering_params[:date_to], :data => {:border => 'from'}}

            - score_params = {:from => (not filtering_params[:score_from].blank?) ? filtering_params[:score_from].to_i : nil, :to => (not filtering_params[:score_to].blank?) ? filtering_params[:score_to].to_i : nil}
            .form-group.col-sm-3
              %label{:for => 'score'}= t('activerecord.attributes.report.score')
              %div
                #score-control.btn-group.btn-group-sm
                  - (0..5).each do |score|
                    - active = (score_params[:from] and score_params[:to] and score.between?(score_params[:from], score_params[:to]))
                    %span.btn.btn-default{:class => "#{'active' if active}", :data => {:value => score}}= score
              
              %input#score-from{:type => 'hidden', :name => 'filter[score_from]', :value => score_params[:from]}
              %input#score-to{:type => 'hidden', :name => 'filter[score_to]', :value => score_params[:to]}

          .btn-toolbar.text-center
            %input.btn.btn-sm.btn-default{:type => 'submit', :value => t('views.common.filter')}

:javascript
  $(document).ready(function(){
    new RangePicker($('#score-control'), $('#score-from'), $('#score-to'));
  });