= javascript_include_tag "range_picker"

- filtering_params = params[:filter] || {}

.row
  .col-lg-offset-1.col-lg-10
    .panel.panel-default
      .panel-body

        = simple_form_for :filter, :html => {:method => 'get'}, :wrapper => :filter_form do |f|
          .row
            = f.input :user, :as => :select, :collection => [[t('views.common.all'), '']] + UserRole.reviewer.users.all.map{ |u| [u.full_name, u.id] }, :selected => filtering_params[:user], :label => t('activerecord.attributes.report.user'), :wrapper_html => {:class => 'col-sm-2'}

            = f.input :shop, :as => :select, :collection => [[t('views.common.all'), '']] + Shop.all.map{ |s| [s.full_address, s.id] }, :selected => filtering_params[:shop], :label => t('activerecord.attributes.report.shop'), :wrapper_html => {:class => 'col-sm-3'}

            = f.input :date, :label => t('views.reports.period'), :wrapper_html => {:class => 'col-sm-4'} do
              .input-group.input-group-sm{:data => {:rangepicker => 'yes'}}
                = f.input_field :date_from, :class => 'form-control', :value => filtering_params[:date_from], :data => {:border => 'from'}
                %span.input-group-addon -
                = f.input_field :date_to, :class => 'form-control', :value => filtering_params[:date_to], :data => {:border => 'to'}

            - score_params = {:from => (not filtering_params[:score_from].blank?) ? filtering_params[:score_from].to_i : nil, :to => (not filtering_params[:score_to].blank?) ? filtering_params[:score_to].to_i : nil}
            .form-group.col-sm-3
              %label{:for => 'score'}= t('activerecord.attributes.report.score')
              %div
                #score-control.btn-group.btn-group-sm
                  - (0..5).each do |score|
                    - active = (score_params[:from] and score_params[:to] and score.between?(score_params[:from], score_params[:to]))
                    %span.btn.btn-default{:class => "#{'active' if active}", :data => {:value => score}}= score
              
              = f.input_field :score_from, :as => :hidden, :id => 'score-from', :value => score_params[:from]
              = f.input_field :score_to, :as => :hidden, :id => 'score-to', :value => score_params[:to]

            .btn-toolbar.text-center
              = f.submit t('views.common.filter'), :class => 'btn btn-sm btn-default'

:javascript
  $(document).ready(function(){
    new RangePicker($('#score-control'), $('#score-from'), $('#score-to'));
  });