.table-responsive
  %table.table.table-condensed.table-striped.table-vcentered
    %thead
      %tr
        - if params[:controller] == "reports"
          %th= sortable(:shop, t('activerecord.attributes.report.shop'))
          %th= sortable(:user, t('activerecord.attributes.report.user'))
          %th= sortable(:created_at, t('activerecord.attributes.report.created_at'))
          %th= sortable(:score, t('activerecord.attributes.report.score'))
          %th
        -else
          - unless params[:controller] == "shops"
            %th= t('activerecord.attributes.report.shop')
          - unless params[:controller] == "users"
            %th= t('activerecord.attributes.report.user')
          %th= t('activerecord.attributes.report.created_at')
          %th= t('activerecord.attributes.report.score')
          %th

    %tbody
      - if reports.any?
        - reports.each do |report|
          %tr
            - unless params[:controller] == "shops"
              %td= can_link_to(report.shop.name, report.shop)
            - unless params[:controller] == "users"
              %td= can_link_to(report.user.full_name, report.user)
            %td= report.created_at.strftime("%d.%m.%Y %H:%M")
            %td= report.score
            %td.text-right
              - if policy(report).show?
                %a.btn.btn-xs.btn-default{:href => report_path(report), :title => t('views.common.show'), :data => {:toggle => "tooltip"}}
                  %span.glyphicon.glyphicon-list

      - else
        %tr
          %td{:colspan => 5}
            %h4.text-center= t('views.common.empty')
