.category-container.panel.panel-default
  .category-header.panel-heading
    = render 'report_structure_categories/header', :category => category

  .table-responsive
    .div-table.div-table-striped.div-table-condensed
      .div-thead
        .div-tr
          .div-th= t('activerecord.attributes.report_structure_element.name')
          .div-th= t('activerecord.attributes.report_structure_element.type')
          .div-th= t('activerecord.attributes.report_structure_element.weight')
          .div-th= t('activerecord.attributes.report_structure_element.shop_types')
          .div-th
      .element-list.div-tbody
        - category.elements.each do |elem|
          = render 'report_structure_elements/show', :element => elem