.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.collapsed.btn-default.navbar-toggle{:type => "button", :data => {:toggle => "collapse", :target => "#navbar-main"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_url} Dashboard

    #navbar-main.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if can?(:change, :report_structure)
          %li
            %a{:href => report_structure_path}= t('views.navigation.report_structure')

        %li
          %a{:href => reports_path}= t('views.navigation.reports')

        %li.dropdown
          %a.dropdown-toggle{:href => "javascript:;", :data => {:toggle => 'dropdown'}}
            = t('views.navigation.retail')
            %span.caret
          %ul.dropdown-menu{:role => "dropdown"}
            - if can?(:read, Dealer)
              %li
                %a{:href => dealers_path}= t('views.navigation.dealers')
            - if can?(:read, Shop)
              %li
                %a{:href => shops_path}= t('views.navigation.shops')
            - if can?(:read, ShopType)
              %li
                %a{:href => shop_types_path}= t('views.navigation.shop_types')

        - if can?(:read, Region) or can?(:read, City)
          %li.dropdown
            %a.dropdown-toggle{:href => "javascript:;", :data => {:toggle => 'dropdown'}}
              = t('views.navigation.places')
              %span.caret
            %ul.dropdown-menu{:role => "dropdown"}
              - if can?(:read, Region)
                %li
                  %a{:href => regions_path}= t('views.navigation.regions')
              - if can?(:read, City)
                %li
                  %a{:href => cities_path}= t('views.navigation.cities')

      %ul.nav.navbar-nav.navbar-right
        - if can?(:read, User)
          %li
            %a{:href => users_path}= t('views.navigation.users')

        %li
          %a{:href => destroy_user_session_path, :data => {:method => 'delete'}}= t('views.navigation.log_out')

        %li.dropdown
          %a.dropdown-toggle{:href => "javascript:;", :data => {:toggle => 'dropdown'}}
            = I18n.locale
            %span.caret
          %ul.dropdown-menu{:role => "dropdown", :style => 'min-width: 0;'}
            - I18n.available_locales.each do |l|
              %li
                = link_to l, params.merge(:locale => l)